<div class="container_general">
  <!-- portada clicable -->
  <div class="cover" [class.open]="isOpen" [class.closing]="isClosing" (click)="onNextPage()">
    <div class="panel left">
      <div class="ribbon horizontal half-left"></div>
    </div>
    <div class="panel right">
      <div class="ribbon horizontal half-right"></div>
    </div>
    <div class="seal">
      <img src="COMPONENTE.png" alt="Monograma CA" />
    </div>
  </div>

  <!-- bordes interiores -->
  <div class="border top"></div>
  <div class="border right"></div>
  <div class="border bottom"></div>
  <div class="border left"></div>

  <!-- contenedor de páginas -->
  <div #invitationContent class="invitation-content">
    <section class="page hero">
      <img src="PALOMAS_BODA.png" alt="Fondo palomas" />
      <div class="novios ">
        <img src="NOVIOS.jpg" alt="Novios" class="imagen-zoom" />
        <div class="hero-text">
          <h2>NUESTRA</h2>
          <h2>BODA</h2>
          <p class="couple">Carolina &amp; Antonio</p>
          <p class="date">9 . 08 . 25</p>
        </div>
      </div>
    </section>

    <section class="page">
      <h1>💕La historia <br/>continúa💕</h1>
      <div class="seal_novios_inicio">
        <img src="ARCO.png" alt="Arco" class="arco" />
        <img src="IMAGEN.png" alt="Sello novios" class="sello" />
      </div>
      <div style="height: 100px;"></div>
      <h2 class="nombre_padres">NUESTROS PADRES</h2>
      <div style="height: 20px;"></div>
      <div class="container_padres">
        <div class="container_pareja">
          <img src="Novio.png" alt="Padre novio" />
          <div class="barrita"></div>
        </div>
        <div class="container_nombres_padres">
          <p>
            Sergio Cuevas<br/>
            Y<br/>
            <span class="mother-name">
              Rosa Cuevas
              <img src="VECTOR10.png" alt="Icono" class="mother-icon"/>
            </span>
          </p>
        </div>
      </div>
      <div class="container_padres">
        <div class="container_nombres_padres">
          <p>Juan Valadez<br/>
            Y<br/>
            <span class="mother-name">
              <img src="VECTOR10.png" alt="Icono" class="mother-icon"/>
              Imelda Vargas
            </span>
          </p>
        </div>
        <div class="container_pareja">
          <div class="barrita"></div>
          <img src="Novia.png" alt="Madre novia" />
        </div>
      </div>
    </section>

    <section class="page padrinos_page">
      <div class="padrinos-inner">
        <div class="icon-cruz">
          <img src="CRUZ_PAREJA.png" alt="Cruz padrinos">
        </div>
        <div>
          <h2 class="title-padrinos">NUESTROS PADRINOS</h2>
          <p class="names-padrinos" style="font-size: 30px;">Nora Valadez<br>Y<br>Fernando Hurtado</p>
        </div>
      </div>
    </section>

    <section class="page page_lugar">
      <div class="page_misa">
        <div class="seal_novios seal_lugar">
          <img src="VECTOR13.png" alt="Icono misa" class="imagenMisa" />
        </div>
        <h2 class="titulo_lugar">MISA</h2>
        <p>Ramón Barreto de Tábora s/n, Esq. Andrés López Col. La Moderna, Irapuato, Guanajuato 36690.</p>
      </div>
      <div class="page_misa">
        <div class="seal_novios seal_novios_boda">
          <img src="VECTOR5.png" alt="Icono novios" />
        </div>
      </div>
      <div class="page_misa">
        <div class="seal_novios seal_lugar">
          <img src="VECTOR14.png" alt="Icono fiesta" class="imagenMisa" />
        </div>
        <h2 class="titulo_lugar">FIESTA</h2>
        <p>Finca Capule<br />Cam. a la Garrida km 0.5, 36500 <br /> Irapuato, Gto.</p>
      </div>
    </section>

    <section class="page cierre">
      <div class="novios_cierre">
        <img src="NOVIOS.jpg" alt="Novios cierre" class="bg-img" />

        <!-- triángulo dorado -->
        <div class="overlay-triangle">
          <svg viewBox="0 0 100 60" preserveAspectRatio="none" class="svg-shape">
            <defs>
              <filter id="blur" x="-10%" y="-10%" width="120%" height="120%">
                <feGaussianBlur in="SourceGraphic" stdDeviation="1.5" />
              </filter>
            </defs>
            <path d="M 0 60
         Q 35 20, 60 10
         L 100 0
         L 100 60
         Z" fill="#968713" filter="url(#blur)" />
          </svg>
          <!-- Anillos en la esquina superior -->
          <!-- <div class="rings">
            <img src="VECTOR4.png" alt="Anillos" />
          </div> -->

          <!-- Mensaje centrado en el trapezoide -->
          <p class="mensaje" style=" width: 80%; margin-bottom: 40px;">
            Deseamos tener el gusto de compartir
            contigo nuestra bonita nueva etapa
          </p>
        </div>

        <!-- ¡Te esperamos! un poco más arriba -->
        <div class="call-container" style=" width: 80%; margin-bottom: 10px;">
          <img src="VECTOR3.png" alt="Corazón" />
          <p class="call" style=" width: 80%;">¡Te esperamos!</p>
        </div>
        <div class="call-container" style=" width: 80%; margin-bottom: 10px;">
          <img src="VECTOR3.png" alt="Corazón" />
          <p class="call" style=" width: 80%;">¡Te esperamos!</p>
        </div>
        <div class="lineadifuminada"></div>
      </div>
    </section>
  </div>
</div>
